<div id="dialog-content" style="display:none;" class="add-post-modal js-open-create-post">
  <div class="add-post-modal__title-wrap">
    <!--title-->
    <h2 class="add-post-modal__title">Create new post</h2>

    <button class="add-post-modal__schedule-head-btn js-schedule-modal-btn">
      <svg class="add-post-modal__schedule-icon" width="8px" height="11" viewBox="0 0 8 11">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#back-arrow"></use>
      </svg>
      <h2 class="add-post-modal__schedule-title">Schedule</h2>
    </button>

    <button type="button" class="add-post-modal__title-btn js-close-modal-button">
      <svg class="add-post-modal__title-img">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#close_cross"></use>
      </svg>
    </button>
  </div>

  <div class="add-post-modal__content">
    <!-- TOP -->
    <div class="add-post-modal__top">
      <div class="add-post-modal__avatar">
        <img src="https://place-hold.it/146x35/666" alt="" class="add-post-modal__avatar-img">
      </div>

      <div class="add-post-modal__top-content">
        <p class="add-post-modal__name">Kate Lindman</p>
        <label class="add-post-modal__switch">
          <input type="checkbox">
          <div class="add-post-modal__switch-slider">
            <div class="add-post-modal__switch-slider-item">Subscribers only</div>
            <div class="add-post-modal__switch-slider-item">Public</div>
          </div>
        </label>
      </div>
    </div>
    <!-- /TOP -->

    {{!-- CHECKBOXES --}}
    <div class="add-post-modal__checkboxes">
        <label for="paid-post" class="add-post-modal__checkboxes-item">
          <input type="checkbox" id="paid-post" class="add-post-modal__checkboxes-item--checkbox">
          <span class="post-modal__checkboxes-item-text">Paid post (fans pay to unlock and view post)</span>
        </label>
        <label for="allow-download" class="add-post-modal__checkboxes-item">
          <input type="checkbox" id="allow-download" class="add-post-modal__checkboxes-item--checkbox">
          <span class="post-modal__checkboxes-item-text">Allow subscribers to download video</span>
        </label>
        <label for="disable-comments" class="add-post-modal__checkboxes-item">
          <input type="checkbox" id="disable-comments" class="add-post-modal__checkboxes-item--checkbox">
          <span class="post-modal__checkboxes-item-text">Disable comments</span>
        </label>
    </div>
    {{!-- /CHECKBOXES --}}

    <textarea class="add-post-modal__textarea" placeholder="Create new post..." name="create-post"></textarea>

    <!--ADD-PHOTO-->
    <div class="add-post-modal__add-photo">
      <button class="add-post-modal__add-photo--btn" type="button">
        <svg class="add-post-modal__add-photo--btn-icon" viewBox="0 0 22 16">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#image"></use>
        </svg>
        <span class="add-post-modal__add-photo--btn-text">Add Photo / Video</span>
      </button>
    </div>
    <!--/ADD-PHOTO-->


    <!--BOTTOM -->
    <div class="add-post-modal__bottom">

      <!--select-->
      <div class="add-post-modal__bottom-select-wrapper">
        <svg class="add-post-modal__bottom-select-icon">
            <use href="{{assets}}/img/svg-sprite/sprite.svg#event"></use>
        </svg>
        <select id="add-post-modal-select" class="add-post-modal__bottom-select">
          <option value="post-now">Post now</option>
          <option value="schedule-post">Schedule post</option>
        </select>
      </div>

      <!--buttons-->
      <div data-value="post-now" class="add-post-modal__buttons js-add-post-buttons active-option">
        <button class="add-post-modal__buttons-btn"
                type="button"
                data-fancybox data-src="{{#if verified}}#post-created{{else}}#not-verified-modal{{/if}}"
                >Post
        </button>
      </div>
      <div data-value="schedule-post" class="add-post-modal__buttons js-add-post-buttons">
        <button class="add-post-modal__buttons-btn-schedule js-schedule-btn" type="button">Schedule</button>
        <button class="add-post-modal__buttons-btn"
                type="button"
                data-fancybox data-src="{{#if verified}}#schedule-confirm{{else}}#not-verified-modal{{/if}}"
                >Done
        </button>
      </div>

    </div>

  </div>
  <!--/BOTTOM -->


  <!--SCHEdulE CALENDAR-->
  <div class="add-post-modal__schedule-content">
    <label class="add-post-modal__schedule-select-wrapper" for="schedule-select">
      <span class="add-post-modal__schedule-select-title">Your timezone</span>
      <select class="add-post-modal__schedule js-standard-select" id="schedule-select">
        <option value="Europe-Sofia">Europe / Sofia</option>
      </select>
    </label>
    <div class="add-post-modal__calendar">
      <div class="add-post-modal__calendar-head">
        <span class="add-post-modal__calendar-title">Select a date</span>
        <div class="add-post-modal__calendar-date">
          <span class="add-post-modal__calendar-date--mounth">FRI</span>
          <span class="add-post-modal__calendar-date--day">APR 22</span>
          <span class="add-post-modal__calendar-date--year">2022</span>
        </div>
      </div>

      <div class="js-calendar" ></div>

    </div>

    <div class="add-post-modal__time">
        <span class="add-post-modal__time-text">Time:</span>
        <div class="add-post-modal__time-select-wrapper">
          <select class="add-post-modal__time-select js-standard-select">
            <option value="" disabled selected>hh</option>
          </select>
        </div>
        <div class="add-post-modal__time-select-wrapper">
          <select class="add-post-modal__time-select js-standard-select">
            <option value="" disabled selected>mm</option>
          </select>
        </div>
      </div>

      <div class="add-post-modal__done-btn-wrapper">
        <button class="add-post-modal__buttons-btn"
                type="button"
                data-fancybox data-src="#schedule-confirm"
                >Done
        </button>
      </div>
  </div>

  {{> postCreated }}
  {{> noteToVerificationModal }}
  {{> scheduleConfirmationModal }}
</div>
