<div class="mobile-nav">
  <a href="/" class="mobile-nav__item mobile-nav__item_active">
    <svg class="nav-sidebar__list-item-icon" viewBox="0 0 24 24">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#home"></use>
    </svg>
  </a>

  <a href="/notifications" class="mobile-nav__item">
    <svg class="nav-sidebar__list-item-icon" viewBox="0 0 16 20">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#notification"></use>
    </svg>
  </a>

  <button class="mobile-nav__item mobile-nav__item_add-post" type="button">
    <svg class="nav-sidebar__create-post-icon" viewBox="0 0 17 17">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#plus"></use>
    </svg>
  </button>

  <a href="" class="mobile-nav__item">
    <svg class="header__messages-icon" viewBox="0 0 20 20">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#message"></use>
    </svg>
  </a>

  <a href="" class="mobile-nav__item">
    <svg class="header__messages-icon" viewBox="0 0 20 20">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#person"></use>
    </svg>
  </a>
</div>
