<div class="wallets">
    {{#each this}}
        {{#if crypto}}
        <div class="wallets__item"> 
            {{#if balance}}
            <h1 class="wallets__item-balance">{{balance}}</h1>
            <div class="wallets__item-note bitcoin">
                <svg width="32" height="30" viewBox="0 0 32 30">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#bitcoin"></use>
                </svg>
                <span>BITCOIN balance</span>
            </div>
            {{/if}}
            <button class="wallets__item-button">Withdraw as crypto</button>
        </div>
        {{else}}
        <div class="wallets__item"> 
            {{#if balance}}
            <h1 class="wallets__item-balance">${{balance}}</h1>
            <div class="wallets__item-note">
                <span>Current balance</span>
            </div>
            <button class="wallets__item-button">Withdraw as USD</button>
            <button class="wallets__item-button">Withdraw as crypto</button>
            {{else}}
            <h1 class="wallets__item-balance">$0</h1>
            <div class="wallets__item-note">
                <span>Current balance</span>
            </div>
            <button class="wallets__item-button">Withdraw as crypto</button>
            {{/if}}
        </div>
        {{/if}}
    {{/each}}
</div>