<div class="nav-sidebar">
  <nav class="nav-sidebar__list
  {{#if subscriptions}} subscriptions_message{{/if}}
  {{#if subscribers}} subscribers_message{{/if}}
  {{#if activeTab}} active_{{activeTab}}{{/if}}
   ">
    {{#each this.context}}
      <a href="{{indexDir}}/pages/{{href}}.html" class="nav-sidebar__list-item">
        <svg class="nav-sidebar__list-item-icon" viewBox="0 0 24 24">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#{{svg}}"></use>
        </svg>
        <span class="nav-sidebar__list-item-title">{{title}}</span>
      </a>
    {{/each}}
  </nav>
</div>
