<div class="promoted-creators-sidebar">
  <h3 class="promoted-creators-sidebar__title">Promoted creators</h3>

  <div class="promoted-creators-sidebar__list js-swiper swiper">
    <div class="promoted-creators-sidebar__list-wrapper swiper-wrapper">
      {{#each main.promotedCreators }}
        <div class="promoted-creators-sidebar__slide swiper-slide">
          {{#each this }}
            <div class="promoted-creators-sidebar__item">
              <div class="creator-item" style="background-image: url({{this.bg}})">
                <div class="creator-item__main">
                  <a href="/creators/{{this.name}}" class="creator-item__avatar-wrap">
                    <img src="{{this.avatar}}" alt="{{this.name}}" class="creator-item__avatar">
                  </a>
                  <a href="/creators/{{this.name}}" class="creator-item__name">{{this.name}}</a>
                </div>
                <button class="creator-item__subscribe" type="button">Subscribe</button>
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>

    <div class="promoted-creators-sidebar__list-pagination"></div>
  </div>

  {{#unless isMobile}}
    <nav class="promoted-creators-sidebar__nav">
    {{#each main.sidebarNav}}
      <a href="{{this.href}}" class="promoted-creators-sidebar__nav-item">{{this.title}}</a>
    {{/each}}
  </nav>
  {{/unless}}

  {{#unless isMobile}}
    <div class="promoted-creators-sidebar__socials">
      <a href="/" target="_blank" rel="noopener noreferrer" class="promoted-creators-sidebar__socials-item">
        <svg class="promoted-creators-sidebar__socials-item-icon" viewBox="0 0 32 32">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#facebook"></use>
        </svg>
      </a>

      <a href="/" target="_blank" rel="noopener noreferrer" class="promoted-creators-sidebar__socials-item">
        <svg class="promoted-creators-sidebar__socials-item-icon" viewBox="0 0 32 32">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#instagram"></use>
        </svg>
      </a>

      <a href="/" target="_blank" rel="noopener noreferrer" class="promoted-creators-sidebar__socials-item">
        <svg class="promoted-creators-sidebar__socials-item-icon" viewBox="0 0 32 32">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#mail"></use>
        </svg>
      </a>
    </div>
  {{/unless}}
</div>
