<div class="specials">
  <h1 class="specials__title">Set up specials</h1>
  {{#each main.specials}}
    <div class="specials__item">
      <h1 class="specials__item-title">{{this.title}}</h1>
      <p class="specials__item-text">{{this.text}}</p>
      <div class="specials__item-select-wrapper">
        <h3 class="specials__item-select-wrapper-title">
          {{#if this.options}}
            Select type of special
          {{else}}
            Status
          {{/if}}
        </h3>
        <select class="specials__item-select js-standard-select">
          {{#if this.options}}
            <option disabled selected>
              Type of special
            </option>
          {{#each this.options}}
            <option value={{value}}>{{text}}</option>
          {{/each}}
          {{else}}
          <option value="disabled">disabled</option>
          <option value="enabled">enabled</option>
          {{/if}}
        </select>
      </div>
      <div class="specials__item-row">
        <div class="specials__item-select-wrapper">
          <label for={{this.id}}>
            <h3 class="specials__item-select-wrapper-title">Special price for</h3>
            <select class="specials__item-select js-standard-select" name="price">
              <option>
                Months
              </option>
            </select>
          </label>
        </div>
        <div class="specials__item-price">
          <span class="specials__item-price--title">Price</span>
          <div class="specials__item-price--frame">
            <input type="text" class="">
            <p>$</p>
            <p class="specials__item-note">Original price: $5</p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
